%nav.navbar-default.navbar-inverse
  .container-fluid
    .navbar-header
      = link_to 'Twitter Style', root_path, class: 'navbar-brand'
    
    - if user_signed_in?
      %ul.nav.navbar-nav
        %li
          = link_to 'List of Users', users_path
      - unless current_user.author?
        = form_tag search_users_path, method: :get, class: 'navbar-form navbar-left', role: 'search' do
          .form-group
            = text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search Authors'

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown.notif
          = link_to '#', class: 'dropdown-toggle', id: 'notification-dropdown', data: { toggle: 'dropdown' } do
            %span.glyphicon.glyphicon-bell
            %span.notif-num= current_user.unviewed_notifications.count
          %ul.dropdown-menu
            - if current_user.notifications.any?
              - current_user.latest_notifications.each do |activity|
                %li
                  = render_custom_activity activity 
            - else
              %li
                = link_to '#' do
                  No new notifications.

        - if current_user.author? 
          %li= link_to 'Subscriptions', account_index_path
        %li
          = link_to 'Logout', destroy_user_session_path, method: :delete

